**/gen/
**/edmx/
*.db
*.sqlite
schema*.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger
app/router/node_modules/*
app/router/webapp/*
Makefile_*.mta

# added by cds
.cdsrc-private.json
app/router_umceq/package.json
app/router_umceq/package.json
app/router_umchq/package.json
package-lock.json
package.json
app/package.json
app/package-lock.json
package.json
